<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">
            <div class="pull-left image">
                <img src="/dist/img/user2-160x160.jpg" class="img-circle" alt="User Image">
            </div>
            <div class="pull-left info">
                <p>Alexander Pierce</p>
                <a href="#"><i class="fa fa-circle text-success"></i> Online</a>
            </div>
        </div>
        <!-- search form -->
        <form action="#" method="get" class="sidebar-form">
            <div class="input-group">
                <input type="text" name="q" class="form-control" placeholder="Search...">
                <span class="input-group-btn">
                    <button type="submit" name="search" id="search-btn" class="btn btn-flat">
                        <i class="fa fa-search"></i>
                    </button>
                </span>
            </div>
        </form>
        <!-- /.search form -->
        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">MAIN NAVIGATION</li>
            <li class="active treeview">
                <a href="#">
                    <i class="fa fa-dashboard"></i> <span>控制台</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li class="active"><a href="/Home/Dashboard" target="frmMain"><i class="fa fa-circle-o"></i> 管理首页</a></li>
                    <li><a href="/Home/Dashboard" target="frmMain"><i class="fa fa-circle-o"></i> 基本配置</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-files-o"></i>
                    <span>产品设置</span>
                    <span class="pull-right-container">
                        <span class="label label-primary pull-right">4</span>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 产品发布</a></li>
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 模型设计</a></li>
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 分类设计</a></li>
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 分类管理</a></li>
                </ul>
            </li>
            <li>
                <a href="/Home/NotFound" target="frmMain">
                    <i class="fa fa-th"></i> <span>数据表板</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-green">new</small>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>统计报表</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 站点访问统计</a></li>
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 用户统计</a></li>
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 资源统计</a></li>
                </ul>
            </li>

            <li class="treeview">
                <a href="#">
                    <i class="fa fa-edit"></i> <span>文章管理</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Home/Category" target="frmMain"><i class="fa fa-circle-o"></i> 分类管理</a></li>
                    <li><a href="/Home/Article" target="frmMain"><i class="fa fa-circle-o"></i> 文章管理</a></li>
                    <li><a href="/Home/ArticleEdit" target="frmMain"><i class="fa fa-circle-o"></i> 添加文章</a></li>
                    <li><a href="/Home/Comment" target="frmMain"><i class="fa fa-circle-o"></i> 评论管理</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-table"></i> <span>订单报表</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 所有订单</a></li>
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> Data tables</a></li>
                </ul>
            </li>
            <li>
                <a href="/Home/NotFound" target="frmMain">
                    <i class="fa fa-calendar"></i> <span>日程表</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-red">3</small>
                        <small class="label pull-right bg-blue">17</small>
                    </span>
                </a>
            </li>
            <li>
                <a href="/Home/NotFound" target="frmMain">
                    <i class="fa fa-envelope"></i> <span>系统信息</span>
                    <span class="pull-right-container">
                        <small class="label pull-right bg-yellow">12</small>
                        <small class="label pull-right bg-green">16</small>
                        <small class="label pull-right bg-red">5</small>
                    </span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-folder"></i> <span>站点文件夹</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 图片</a></li>
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 文档</a></li>
                    <li><a href="/Home/NotFound" target="frmMain"><i class="fa fa-circle-o"></i> 其它</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-laptop"></i>
                    <span>系统设置</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="/SysManage/Logs" target="frmMain"><i class="fa fa-circle-o"></i> 日志管理</a></li>
                    <li><a href="/SysManage/" target="frmMain"><i class="fa fa-circle-o"></i> 基本配置</a></li>
                    <li><a href="/SysManage/Admins" target="frmMain"><i class="fa fa-circle-o"></i> 管理员</a></li>
                    <li><a href="/SysManage/Databack" target="frmMain"><i class="fa fa-circle-o"></i> 数据备份</a></li>
                </ul>
            </li>
            <li><a href="/"><i class="fa fa-book"></i> <span>使用帮助</span></a></li>
            <li class="header">LABELS</li>
            <li><a href="#"><i class="fa fa-circle-o text-red"></i> <span>Important</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-yellow"></i> <span>Warning</span></a></li>
            <li><a href="#"><i class="fa fa-circle-o text-aqua"></i> <span>Information</span></a></li>
        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
